<%= form_for(@medication) do |f| %>
  <% if @medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medication.errors.count, "error") %> prohibited this medication from being saved:</h2>

      <ul>
      <% @medication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select(:category) do %>
      <%= content_tag(:option, "Stimulants") %>
      <%= content_tag(:option, "Non-Stimulants") %>
      <%= content_tag(:option, "Antidepressants") %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<div>
  <h2><a href="http://www.healthline.com/health/adhd/medication-list#Non-Stimulants3">Stimulants:</a></h2>
  <p>Stimulants are the most commonly prescribed medications for ADHD. You might hear this class of drug referred to as central nervous stimulant (CNS) medications. Stimulants increase dopamine and norepinephrine in the brain to improve concentration while also decreasing fatigue. Stimulants are often the first course of medications used for ADHD treatment.</p>
</div>

<div>
  <h2><a href="http://www.healthline.com/health/adhd/medication-list#Non-Stimulants3">Non-Stimulants:</a></h2>
  <p>Non-stimulants affect the brain differently than stimulants. Though these drugs affect neurotransmitters, they don’t increase dopamine levels. It also generally takes longer to see results. Non-stimulants come in a variety of classes. They might be used when stimulants prove unsafe, ineffective, or for a person who wants to avoid side effects of stimulants.</p>
</div>

<div>
  <h2><a href="http://www.healthline.com/health/adhd/medication-list#Non-Stimulants3">Antidepressants:</a></h2>
  <p>Antidepressants are not FDA-approved to treat ADHD, although some patients may have complex diagnoses and they may be prescribed these drugs along with ADHD medications.</p>
</div>

<br>
<br>